<h1><%= @stock.symbol %></h1>
<ul>
  <li><%= @stock.symbol %></li>
  <li><%= @stock.company_name %></li>
  <li><%= @stock.country %></li>
  <li><%= @stock.stock_exchange %></li>
</ul>

<% @reports.each do |rp| %>
  <ul>
    <li>year: <%= rp.year %></li>
    <li>quarter: <%= rp.quarter %></li>
    <li>revenue: <%= rp.revenue %></li>
  </ul>
<% end %>